---
site_name: Hera
site_description: Hera is a Python SDK for defining, running, and monitoring Argo Workflows in Python.
site_author: Flaviu Vadan, Sambhav Kothari, Elliot Gunton
site_url: https://hera.readthedocs.io/en/latest/
copyright: Copyright &copy; 2025 Flaviu Vadan, Sambhav Kothari, Elliot Gunton

nav:
  - Home: index.md
  - Walkthrough:
    - walk-through/quick-start.md
    - walk-through/about-hera.md
    - walk-through/hello-world.md
    - walk-through/script-templates.md
    - walk-through/steps.md
    - walk-through/dags.md
    - walk-through/parameters.md
    - walk-through/artifacts.md
    - walk-through/loops.md
    - walk-through/conditionals.md
    - walk-through/types-of-workflows.md
    - walk-through/hera-developer-features.md
    - walk-through/authentication.md
    - walk-through/experimental-hera-features.md
    - Further Reading:
      - walk-through/workflow-features.md
      - walk-through/template-features.md
  - User Guides:
    - Intro Tutorial: user-guides/hera-tutorial.md
    - Core Concepts: user-guides/core-concepts.md
    - Scripts:
      - Basics: user-guides/script-basics.md
      - Constructors: user-guides/script-constructors.md
      - Annotations: user-guides/script-annotations.md
      - Runner IO: user-guides/script-runner-io.md
    - Best Practices: user-guides/best-practices.md
    - Suspending Workflows: user-guides/suspending.md
    - Hera CLI: user-guides/cli.md
    - Decorators: user-guides/decorators.md
    - Expr Transpiler: user-guides/expr.md
    - Experimental Features: user-guides/experimental-features.md
  - Examples:
    - About: examples/workflows-examples.md
    - Inline Scripts:
      - ... | flat | examples/workflows/scripts/*.md
    - Runner Scripts:
      - ... | flat | examples/workflows/hera-runner/*.md
    - DAGs:
      - ... | flat | examples/workflows/dags/*.md
    - Steps:
      - ... | flat | examples/workflows/steps/*.md
    - Loops:
      - ... | flat | examples/workflows/loops/*.md
    - Artifacts:
      - ... | flat | examples/workflows/artifacts/*.md
    - Experimental Features:
      - ... | flat | examples/workflows/experimental/*.md
    - Miscellaneous Examples:
      - ... | flat | examples/workflows/misc/*.md
    - Use-Cases and Integrations:
      - About: examples/about-use-cases.md
      - ... | flat | examples/workflows/use-cases/*.md
    - Upstream Examples:
      - About: examples/about-upstream.md
      - ... | flat | examples/workflows/upstream/*.md
  - Contributing:
    - Contributing Guide: CONTRIBUTING.md
    - History of Hera: contributing/history.md
  - API Reference:
    - Shared: api/shared.md
    - Workflows:
      - Workflow Classes:
        - api/workflows/workflow_classes/workflow.md
        - api/workflows/workflow_classes/workflow_template.md
        - api/workflows/workflow_classes/cluster_workflow_template.md
        - api/workflows/workflow_classes/cron_workflow.md
      - Template Classes:
        - api/workflows/template_classes/script.md
        - api/workflows/template_classes/container.md
        - api/workflows/template_classes/dag.md
        - api/workflows/template_classes/steps.md
        - api/workflows/template_classes/http.md
        - api/workflows/template_classes/container_set.md
        - api/workflows/template_classes/data.md
        - api/workflows/template_classes/resource.md
        - api/workflows/template_classes/suspend.md
      - Supporting Hera Classes:
        - api/workflows/supporting_classes/archive.md
        - api/workflows/supporting_classes/artifact.md
        - api/workflows/supporting_classes/env_from.md
        - api/workflows/supporting_classes/env.md
        - api/workflows/supporting_classes/metrics.md
        - api/workflows/supporting_classes/parameter.md
        - api/workflows/supporting_classes/resources.md
        - api/workflows/supporting_classes/retry_strategy.md
        - api/workflows/supporting_classes/task.md
        - api/workflows/supporting_classes/template_set.md
        - api/workflows/supporting_classes/user_container.md
        - api/workflows/supporting_classes/volumes.md
        - api/workflows/supporting_classes/first_party_volumes.md
        - api/workflows/supporting_classes/third_party_volumes.md
        - api/workflows/supporting_classes/workflow_status.md
      - Rest API:
        - Service: api/workflows/supporting_classes/service.md
        - Async Service: api/workflows/supporting_classes/async_service.md
      - Generated Models: api/workflows/models.md
    - Events:
      - Models: api/events/models.md
theme:
  custom_dir: docs/overrides
  font:
    text: Roboto
    code: Roboto Mono
  name: material
  logo: assets/hera-logo.svg
  favicon: assets/favicon.ico
  icon:
    repo: fontawesome/brands/github
  palette:
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: deep purple
      accent: deep purple
      toggle:
        icon: material/weather-night
        name: Switch to light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: deep purple
      accent: deep purple
      toggle:
        icon: material/weather-sunny
        name: Switch to dark mode
  features:
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.top
    - content.code.copy
    - content.code.select
    - search.suggest
    - search.share
    - search.highlight
    - content.tabs.link
repo_url: https://github.com/argoproj-labs/hera
repo_name: argoproj-labs/hera
edit_uri: blob/main/docs

extra:
  version:
    provider: mike

markdown_extensions:
  - admonition
  - smarty
  - attr_list
  - mkdocs-click
  - pymdownx.smartsymbols
  - footnotes
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  #   slugify: !!python/object/apply:pymdownx.slugs.slugify
  #     kwds:
  #       case: lower
plugins:
  - awesome-pages
  - include-markdown
  - autorefs
  - mkdocstrings:
      handlers:
        python:
          options:
            docstring_style: google
            inherited_members: true
            filters: ["!^_.*$", "!Config"] # no private members or members named "Config" (which is the Pydantic BaseModel config)
            show_if_no_docstring: true
            show_bases: false
            separate_signature: true
            signature_crossrefs: true
            unwrap_annotated: true
            show_signature_annotations: true
            show_source: true
            show_labels: false
            show_root_toc_entry: false
          paths: [src]
          import:
            - https://docs.python.org/3/objects.inv
  - search:
      lang: en
