[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
hera-workflows = { editable = true, path = "." }

[dev-packages]
pytest = "*"
black = "*"
flake8 = "*"
mypy = "*"
build = "*"
isort = "*"
pytest-cov = "*"
tox = "<4.0"
tox-wheel = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
